<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="include :: header('车位信息列表')" />
</head>
<body class="pear-container">
     <div class="layui-card">
        <div class="layui-card-body">
            <div class="col-sm-12 search-collapse">
                <form id="formId" class="layui-form">

                    <div class="layui-form-item">
                        <label class="layui-form-label">车位号：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="station" placeholder="请输入车位号" class="layui-input" />
                        </div>
                        <label class="layui-form-label">车位标识：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="identifier" placeholder="请输入车位标识" class="layui-input" />
                        </div>
                        <label class="layui-form-label">状态：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="state" placeholder="请输入状态 1可用 2已使用 3不可用" class="layui-input" />
                        </div>
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="info-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                    </div>
                </form>
            </div>
        </div>
     </div>
         <div class="layui-card">
             <div class="layui-card-body">
                 <table id="info-table" lay-filter="info-table"></table>

                 <script type="text/html" id="info-toolbar">
                     <button  sec:authorize="hasPermission('/park/info/add','park:info:add')"  class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
                         <i class="layui-icon layui-icon-add-1"></i>
                         新增
                     </button>
                     <button  sec:authorize="hasPermission('/park/info/remove','park:info:remove')"   class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
                         <i class="layui-icon layui-icon-delete"></i>
                         删除
                     </button>
                 </script>

                 <script type="text/html" id="info-bar">
                     <button  sec:authorize="hasPermission('/park/info/edit','park:info:edit')"   class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>
                     </button>
                     <button  sec:authorize="hasPermission('/park/info/remove','park:info:remove')"   class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i>
                     </button>
                 </script>
             </div>
         </div>
    <th:block th:include="include :: footer" />
         <script>
             layui.use(['table', 'form', 'jquery','dictionary'], function () {
                 let table = layui.table;
                 let form = layui.form;
                 let $ = layui.jquery;

                 let prefix = "/park/info/";

                 let cols = [
                     [
                         {type: 'checkbox'},
                         {
                             field: 'stationId',
                             title: 'ID',
                             align: 'center'
                         },
                        {
                             field: 'station',
                             title: '车位号',
                            align: 'center'
                        },
                        {
                             field: 'identifier',
                             title: '车位标识',
                            align: 'center'
                        },
                        {
                             field: 'stationType',
                             title: '车位类型',
                            align: 'center',
                            templet:function (d) {
                                if(d.stationType===1){
                                    return '小型';
                                } else if(d.stationType===2){
                                    return '中型';
                                }else if(d.stationType===3){
                                    return '大型';
                                }
                            }
                        },
                        {
                             field: 'state',
                             title: '状态',
                            align: 'center',
                            templet:function (d) {
                                if(d.state===1){
                                    return '可用';
                                } else if(d.state===2){
                                    return '已使用';
                                }else if(d.state===3){
                                    return '不可用';
                                }
                            }
                        },
                         {title: '操作', toolbar: '#info-bar', align: 'center', width: 130}
                     ]
                 ]

                 table.render({
                     elem: '#info-table',
                     url: prefix + 'data',
                     page: true,
                     cols: cols,
                     skin: 'line',
                     toolbar: '#info-toolbar',
                     defaultToolbar: [{
                         layEvent: 'refresh',
                         icon: 'layui-icon-refresh',
                     }, 'filter', 'print', 'exports']
                 });

                 table.on('tool(info-table)', function (obj) {
                     if (obj.event === 'remove') {
                         window.remove(obj);
                     } else if (obj.event === 'edit') {
                         window.edit(obj);
                     }
                 });

                 table.on('toolbar(info-table)', function (obj) {
                     if (obj.event === 'add') {
                         window.add();
                     } else if (obj.event === 'refresh') {
                         window.refresh();
                     } else if (obj.event === 'batchRemove') {
                         window.batchRemove(obj);
                     }
                 });

                 form.on('submit(info-query)', function (data) {
                     table.reload('info-table', {where: data.field})
                     return false;
                 });

                 window.add = function () {
                     layer.open({
                         type: 2,
                         title: '新增车位信息',
                         shade: 0.1,
                         area: ['550px', '500px'],
                         content: prefix + 'add'
                     });
                 }

                 window.edit = function (obj) {
                     layer.open({
                         type: 2,
                         title: '修改车位信息',
                         shade: 0.1,
                         area: ['550px', '500px'],
                         content: prefix + 'edit?stationId=' + obj.data['stationId']
                     });
                 }

                 window.remove = function (obj) {
                     layer.confirm('确定要删除该车位信息', {icon: 3, title: '提示'}, function (index) {
                         layer.close(index);
                         let loading = layer.load();
                         $.ajax({
                             url: prefix + "remove/" + obj.data['stationId'],
                             dataType: 'json',
                             type: 'delete',
                             success: function (result) {
                                 layer.close(loading);
                                 if (result.success) {
                                     layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                         obj.del();
                                     });
                                 } else {
                                     layer.msg(result.msg, {icon: 2, time: 1000});
                                 }
                             }
                         })
                     });
                 }

                 window.batchRemove = function (obj) {
                     let data = table.checkStatus(obj.config.id).data;
                     if (data.length === 0) {
                         layer.msg("未选中数据", {icon: 3, time: 1000});
                         return false;
                     }
                     let ids = "";
                     for (let i = 0; i < data.length; i++) {
                         ids += data[i].stationId + ",";
                     }
                     ids = ids.substr(0, ids.length - 1);
                     layer.confirm('确定要删除这些车位信息', {icon: 3, title: '提示'}, function (index) {
                         layer.close(index);
                         let loading = layer.load();
                         $.ajax({
                             url: prefix + "batchRemove",
                             dataType: 'json',
                             data: {"ids":ids},
                             type: 'delete',
                             success: function (result) {
                                 layer.close(loading);
                                 if (result.success) {
                                     layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                         table.reload('info-table');
                                     });
                                 } else {
                                     layer.msg(result.msg, {icon: 2, time: 1000});
                                 }
                             }
                         })
                     });
                 }

                 window.refresh = function (param) {
                     table.reload('info-table', {where: param});
                 }
             })
         </script>
</body>
</html>